@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg: #17133a;
  --dark-primary-text: #f2f2f2;
  --dark-secondary-text: #999999;
  --brand-primary: #55a9b9;
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-advent-pro: "Advent Pro", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-bg);
  color: var(--dark-primary-text);
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-primary-text);
  font-family: var(--font-advent-pro);
}
/* @media (prefers-color-scheme: dark) {
  body {
    color: #dedede;
    background-color: #001b1d;
  }
} */
section {
  height: 100vh;
  scroll-snap-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
.mountains {
  background-image: url("/mountains.png");
  z-index: 3;
}

.planets {
  background-image: url("/planets.png");
  z-index: 2;
}
.stars {
  background-image: url("/stars.png");
  z-index: 1;
}
.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
.home {
  background: url("/tugba-hero.png") no-repeat center center/cover;
  opacity: 0.5;
}

@media (max-width: 738px) {
  .textContainer {
    transform: none !important;
  }
}
.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  border: #001b1d;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}
